
.grid-container {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 59px 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #422ED4;
  color: #ffffff;
}

main {
  grid-area: main;
}
.title {
  text-align: center;
  margin-top: 60px;
}
.chackimg img {
  height: 258px;
  width: 122px;
  
}
.quotes {
  background-color: #422ED4;
  height: 162px;
  width: 1120px;
  text-align: center;
  
}